body{
    color:  rgb(43, 216, 0);
    background-color: black;
    padding: 50px;
    border-width: 50px;
    border-style: solid;
    border-color:  rgb(43, 216, 0);
    font-family: Arial, Helvetica, sans-serif;
}
.construct{
    color: white;
}
.ex{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}